<AuthorizeView>
    <Authorized>
        <span style="color:#FFFFFF">Hola, @context.User.Identity!.Name!</span>

            <a href="Logout" class="nav-link btn btn-link" style="color: #FFFFFF">Log out</a>
        
    </Authorized>
    <NotAuthorized>
        <div class="d-flex align-items-center">
            <a href="Registro" class="nav-link btn btn-link mx-2" style="color: #FFFFFF">Registro</a>
            <a href="Login" class="nav-link btn btn-link mx-2" style="color: #FFFFFF">Login</a>
        </div>
    </NotAuthorized>

</AuthorizeView>