@inherits LayoutComponentBase
@inject PeliculaBlazor.Client.Auth.RenovadorToken renovadorToken
@inject IJSRuntime js
@inject NavigationManager navigationManager


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <EnlacesAuth/>
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body              
        </div>
    </div>
</div>

@code
{
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; } = null!;

    protected async override Task OnInitializedAsync()
    {
        await js.InvokeVoidAsync("timerInactivo",DotNetObjectReference.Create(this));
        renovadorToken.Iniciar();
    }
    [JSInvokable]
    public async Task Logout()
    {
        var authState = await AuthenticationStateTask;
        if (authState.User.Identity!.IsAuthenticated)
        {
            navigationManager.NavigateTo("logout");
        }
    }
}

