@inherits LayoutComponentBase
@inject PeliculaBlazor.Client.Auth.RenovadorToken renovadorToken
@inject IJSRuntime js
@inject NavigationManager navigationManager


<div class="page">
    <main>
        <nav class="navbar navbar-expand-lg navbar-light navbar-prime">
            <div class="container-fluid">
                <a class="navbar-brand " href="" style="color:aliceblue ">Cineland</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav align-items-center">

                        <li class="nav-item">
                            <a class="nav-link" href="">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="peliculas/buscar">Filtrar Peliculas</a>
                        </li>


                        <li class="nav-item nav-link login ">
                            <EnlacesAuth />
                        </li>

                        <AuthorizeView Roles="admin">
                            <li class="nav-item">
                                <a class="nav-link" href="generos">Generos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="actores">Actores</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="peliculas/crear">Crear Pelicula</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="usuarios">Usuarios</a>
                            </li>
                        </AuthorizeView>

                    </ul>
                </div>
            </div>
        </nav>
       
        <article class="content px-4">
            @Body
        </article>
    </main>

</div>

@code
{
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; } = null!;

    protected async override Task OnInitializedAsync()
    {
        await js.InvokeVoidAsync("timerInactivo",DotNetObjectReference.Create(this));
        renovadorToken.Iniciar();
    }
    [JSInvokable]
    public async Task Logout()
    {
        var authState = await AuthenticationStateTask;
        if (authState.User.Identity!.IsAuthenticated)
        {
            navigationManager.NavigateTo("logout");
        }
    }
}

