@page "/pelicula/{PeliculaId:int}"

<h3>VisualizarPelicula</h3>

@code {
    [Parameter] public int PeliculaId { get; set; }



    protected override void OnInitialized()
    {
        Console.WriteLine($"El id de la pelicula es {PeliculaId}");
    }
}
